.form1 {

    direction: rtl;
    text-align: right;
    border: 1px solid;
}



.date {
    width: 500px;
}

body {
    width: 65%;
font-size: 17px;
position: absolute;
top: 10%; 
left: 50%; 
transform: translate(-50%, -50%); 
height: 100px; 

.name {
    width: 210px;
}

.text {
    width: 210px;
}

.leson1 {
    width: 210px;
}

.leson2 {
    width: 500px;
}

.sell {
    width: 500px;
}

.other {
    width: 500px;
}

.T {
    width: 215px;
}

.code {
    width: 215px;
}


